.pageIndicator{
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dotWrapper{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}

.dot.selected{
    width: 14px;
    height: 14px;
}